<div class="top-menu">
  <div class="left-menu">
    <button mat-raised-button [routerLink]="['/home']" color="primary">Accueil</button>
    <button mat-raised-button [routerLink]="['/fests']" color="accent">Festivals</button>
    <button mat-raised-button [routerLink]="['/contests']" color="primary">Concours</button>
  </div>
  <div class="logo" [routerLink]="['/home']"></div>
  <div class="right-menu">
    <button mat-raised-button [routerLink]="['/gallery']" color="primary">Galerie</button>
    <button mat-raised-button [routerLink]="['/partners']" color="accent">Partenaires</button>
    <button mat-raised-button color="primary" (click)="contact.open()">Contact</button>
  </div>
</div>

<div class="burger-menu">
  <button mat-fab class="icon" (click)="open.emit()">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <div class="mat-title">LES FOUS DU JEU</div>
  <div class="logo" [routerLink]="['/home']"></div>
</div>

<lfdj-contact-dialog #contact></lfdj-contact-dialog>
