@import '../../../shared/styles/theme';

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 8% 40px;

  .main-image {
    display: block;
    margin: 10px;
    flex: 0 0 500px;
    object-fit: contain;
    max-width: 500px;
  }

  .description {
    flex: 1 0 500px;
    margin: 10px;
    height: fit-content;

    .mat-display-2 {
      margin: 40px 0;
      text-align: center;
    }

    h2 {
      text-align: right;
    }
  }
}

.pictures {
  line-height: 0;
  column-gap: 0;
  column-count: 1;

  @media (min-width: $break-medium) {
    column-count: 2;
  }
  @media (min-width: $break-large) {
    column-count: 3;
  }

  img {
    background: white;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 0 white;

    &:hover {
      transform: scale(1.03);
      transition-duration: 0.5s;
      box-shadow: 0 0 10px 5px white;
    }
  }
}
