<div class="agenda-container" [class.show-agenda]="isAgendaVisible">
  <mat-card class="agenda-toggle">
    <button mat-icon-button aria-label="agenda" (click)="switchAgendaVisibility()" color="primary">
      <mat-icon [matBadge]="calendarEvents.length" matBadgeColor="warn" aria-label="Agenda">calendar_today</mat-icon>
    </button>
  </mat-card>
  <mat-card class="agenda">
    <mat-card-title>Agenda</mat-card-title>
    <mat-card-content>
      <div class="agenda-header">
        <span class="mat-h1 month">{{actualDate | date:'MMMM':null:'fr-FR'}}</span>
        <span class="month-buttons">
          <button mat-icon-button
            aria-label="Mois précédent"
            mwlCalendarPreviousView
            [(viewDate)]="actualDate"
            view="month">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-icon-button
            aria-label="Mois suivant"
            mwlCalendarNextView
            [(viewDate)]="actualDate"
            view="month">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </span>
      </div>
      <mwl-calendar-month-view
        [viewDate]="actualDate"
        locale="fr"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
        [events]="calendarEvents">
      </mwl-calendar-month-view>
      <div class='calendar-events'>
        <div class='calendar-event' *ngFor="let calendarEvent of calendarEvents">
          <h3>{{ calendarEvent.allDay ? (calendarEvent.start | date:'dd/MM/yyyy') : (calendarEvent.start | date:'dd/MM/yyyy HH:mm') }}{{ !calendarEvent.allDay && calendarEvent.end ? ' - ' + (calendarEvent.end | date:'HH:mm') : '' }}</h3>
          <span>{{ calendarEvent.title }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
