@import '../../shared/styles/colors';

.agenda-container {
  position: fixed;
  top: calc(50% - 300px);
  right: -600px;
  width: 600px;
  display: flex;
  transition: 1s right;
  z-index: 5;

  &.show-agenda {
    right: 0;
  }

  .agenda-toggle {
    flex: 0 0 80px;
    margin: auto 0;
    padding: 0;
    margin-left: -100px;

    button {
      width: 80px;
      height: 80px;

      mat-icon {
        font-size: 35px;
        line-height: 35px;
        width: 35px;
        height: 35px;
      }
    }
  }

  .agenda {
    margin-left: 20px;
    width: 600px;
  }

  mat-card {
    box-sizing: border-box;
  }

  mat-card-title {
    text-align: center;
  }

  .agenda-header {
    display: flex;
    flex-direction: row;

    .month {
      flex: 1;
      text-transform: capitalize;
    }

    .month-buttons {
      flex: 0 0 80px;
    }
  }

  ::ng-deep .cal-month-view {
    .cal-day-cell, .cal-cell-top {
      min-height: 60px;
    }

    .cal-day-cell.cal-today .cal-day-number {
      font-size: 1.2em;
    }
  }

  .calendar-events {
    margin-top: 5px;
    padding: 5px;
    max-height: 90px;
    overflow-y: auto;
    background-color: $fade-primary;
    color: $light-text;

    .calendar-event {
      margin-bottom: 5px;
      cursor: pointer;

      h3 {
        display: inline;
        margin-right: 10px;
      }
    }
  }
}
