<mat-card>
  <mat-card-title>Agenda</mat-card-title>
  <mat-card-content>
    <div class="agenda-header">
      <span class="mat-h1 month">{{actualDate | date:'MMMM':null:'fr-FR'}}</span>
      <span class="month-buttons">
        <button mat-icon-button
          mwlCalendarPreviousView
          [(viewDate)]="actualDate"
          view="month">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button
          mwlCalendarNextView
          [(viewDate)]="actualDate"
          view="month">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </span>
    </div>
    <mwl-calendar-month-view
      [viewDate]="actualDate"
      locale="fr"
      [weekStartsOn]="weekStartsOn"
      [weekendDays]="weekendDays">>
    </mwl-calendar-month-view>
  </mat-card-content>
</mat-card>
