<div class="left-menu">
  <button mat-raised-button [routerLink]="['/home']" color="primary">Accueil</button>
  <button mat-raised-button [routerLink]="['/fests']" color="accent">Festivals</button>
  <button mat-raised-button [routerLink]="['/contests']" color="primary">Concours</button>
</div>
<div class="logo"></div>
<div class="right-menu">
  <button mat-raised-button [routerLink]="['/gallery']" color="primary">Galerie</button>
  <button mat-raised-button [routerLink]="['/partners']" color="accent">Partenaires</button>
  <button mat-raised-button color="primary">Contact</button>
</div>
