<div class="event-select">
  <label>Événements</label>
  <select (change)="changeContentId($event.target.value)" required>
    <option value="null">Tout</option>
    <option *ngFor="let content of contents" [value]="content.id">{{ content.title }}</option>
  </select>
</div>
<mat-drawer-container autosize>
  <mat-drawer mode="side" opened>
    <ng-container *ngIf="contents">
      <h2>Événements</h2>
      <h3 (click)="changeContentId(null)">Tout</h3>
      <h3 *ngFor="let content of contents" [innerHTML]="content.title" (click)="changeContentId(content.id)"></h3>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <ng-container *ngIf="pictures">
      <div class="pictures">
        <img *ngFor="let picture of pictures; let i = index" [src]="apiDomain + picture.pictureSmall" (click)="slider.open(i)">
      </div>
      <div class="paginator">
        <button mat-button *ngIf="filter$.value.pageNumber" (click)="changePageNumber(filter$.value.pageNumber - 1)">
          Précédent
        </button>
        <span>Page {{filter$.value.pageNumber + 1}}</span>
        <button mat-button *ngIf="pictures.length === 30" (click)="changePageNumber(filter$.value.pageNumber + 1)">
          Suivant
        </button>
      </div>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>

<lfdj-slider #slider [pictures]="picturesLarge"></lfdj-slider>
