<mat-card *ngFor="let article of articles">
  <div class="article-content">
    <img mat-card-image [src]="article.image">
    <div class="article-desc">
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.publicationDate | date:'HH:mm dd/MM/yyyy'}}</mat-card-subtitle>
      <mat-card-content>
        <p>
          {{article.shortDesc}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Plus d'infos</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
