@import '../shared/styles/theme';

$arrow-size: 60px;

:host {
  display: block;
  margin-top: -150px;

  .carousel {
    position: relative;
    height: 100vh;

    .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 1s;
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;

      &.visible {
        opacity: 1;
      }

      button {
        position: absolute;
        bottom: 0;
        left: calc(50% - #{$arrow-size} / 2);
        height: $arrow-size;
        width: $arrow-size;

        mat-icon {
          font-size: $arrow-size;
          height: $arrow-size;
          width: $arrow-size;
          line-height: $arrow-size;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;

    lfdj-article-list {
      flex: 1;
    }

    lfdj-agenda {
      flex: 0 0 25%;
    }
  }
}
